
    #ninzio-slider {
        background-color: #f0f7fd;
    }
    
    .ninzio-slides li#post-1396 {
        background-color: #f0f7fd;
    }
    
    .ninzio-slides li#post-1396 {
        background-image: url(../upload/slider_bg2.jpg);
    }
    
    .active #ninzio-layer-1396-1 {
        z-index: 1;
        -webkit-transition-duration: 300ms;
        -webkit-transition-delay: 300ms;
        transition-duration: 300ms;
        transition-delay: 300ms;
    }
    
    .ninzio-slider.first-active #ninzio-layer-1396-1 {
        -webkit-transition-delay: 0ms;
        transition-delay: 0ms;
    }
    
    .active #ninzio-layer-1396-2 {
        z-index: 1;
        -webkit-transition-duration: 300ms;
        -webkit-transition-delay: 600ms;
        transition-duration: 300ms;
        transition-delay: 600ms;
    }
    
    .ninzio-slider.first-active #ninzio-layer-1396-2 {
        -webkit-transition-delay: 300ms;
        transition-delay: 300ms;
    }
    
    .active #ninzio-layer-1396-3 {
        z-index: 1;
        -webkit-transition-duration: 300ms;
        -webkit-transition-delay: 900ms;
        transition-duration: 300ms;
        transition-delay: 900ms;
    }
    
    .ninzio-slider.first-active #ninzio-layer-1396-3 {
        -webkit-transition-delay: 600ms;
        transition-delay: 600ms;
    }
    
    .active #ninzio-layer-1396-4 {
        z-index: 1;
        -webkit-transition-duration: 300ms;
        -webkit-transition-delay: 1200ms;
        transition-duration: 300ms;
        transition-delay: 1200ms;
    }
    
    .ninzio-slider.first-active #ninzio-layer-1396-4 {
        -webkit-transition-delay: 900ms;
        transition-delay: 900ms;
    }
    
    .active #ninzio-layer-1396-5 {
        z-index: 1;
        -webkit-transition-duration: 300ms;
        -webkit-transition-delay: 1500ms;
        transition-duration: 300ms;
        transition-delay: 1500ms;
    }
    
    .ninzio-slider.first-active #ninzio-layer-1396-5 {
        -webkit-transition-delay: 1200ms;
        transition-delay: 1200ms;
    }
    
    .ninzio-slides li#post-1327 {
        background-color: #f0f7fd;
    }
    
    .ninzio-slides li#post-1327 {
        background-image: url(../upload/creative/slider_bg1.jpg);
    }
    
    .active #ninzio-layer-1327-1 {
        z-index: 1;
        -webkit-transition-duration: 300ms;
        -webkit-transition-delay: 300ms;
        transition-duration: 300ms;
        transition-delay: 300ms;
    }
    
    .ninzio-slider.first-active #ninzio-layer-1327-1 {
        -webkit-transition-delay: 0ms;
        transition-delay: 0ms;
    }
    
    .active #ninzio-layer-1327-2 {
        z-index: 2;
        -webkit-transition-duration: 300ms;
        -webkit-transition-delay: 600ms;
        transition-duration: 300ms;
        transition-delay: 600ms;
    }
    
    .ninzio-slider.first-active #ninzio-layer-1327-2 {
        -webkit-transition-delay: 300ms;
        transition-delay: 300ms;
    }
    
    .active #ninzio-layer-1327-3 {
        z-index: 1;
        -webkit-transition-duration: 300ms;
        -webkit-transition-delay: 900ms;
        transition-duration: 300ms;
        transition-delay: 900ms;
    }
    
    .ninzio-slider.first-active #ninzio-layer-1327-3 {
        -webkit-transition-delay: 600ms;
        transition-delay: 600ms;
    }
    
    .active #ninzio-layer-1327-4 {
        z-index: 1;
        -webkit-transition-duration: 300ms;
        -webkit-transition-delay: 1200ms;
        transition-duration: 300ms;
        transition-delay: 1200ms;
    }
    
    .ninzio-slider.first-active #ninzio-layer-1327-4 {
        -webkit-transition-delay: 900ms;
        transition-delay: 900ms;
    }
    
    .active #ninzio-layer-1327-5 {
        z-index: 1;
        -webkit-transition-duration: 300ms;
        -webkit-transition-delay: 1500ms;
        transition-duration: 300ms;
        transition-delay: 1500ms;
    }
    
    .ninzio-slider.first-active #ninzio-layer-1327-5 {
        -webkit-transition-delay: 1200ms;
        transition-delay: 1200ms;
    }
    
    .ninzio-slides li#post-1421 {
        background-color: #f0f7fd;
    }
    
    .ninzio-slides li#post-1421 {
        background-image: url(../upload/slider_bg.jpg);
    }
    
    .active #ninzio-layer-1421-1 {
        z-index: 1;
        -webkit-transition-duration: 300ms;
        -webkit-transition-delay: 300ms;
        transition-duration: 300ms;
        transition-delay: 300ms;
    }
    
    .ninzio-slider.first-active #ninzio-layer-1421-1 {
        -webkit-transition-delay: 0ms;
        transition-delay: 0ms;
    }
    
    .active #ninzio-layer-1421-2 {
        z-index: 1;
        -webkit-transition-duration: 300ms;
        -webkit-transition-delay: 600ms;
        transition-duration: 300ms;
        transition-delay: 600ms;
    }
    
    .ninzio-slider.first-active #ninzio-layer-1421-2 {
        -webkit-transition-delay: 300ms;
        transition-delay: 300ms;
    }
    
    .active #ninzio-layer-1421-3 {
        z-index: 1;
        -webkit-transition-duration: 300ms;
        -webkit-transition-delay: 900ms;
        transition-duration: 300ms;
        transition-delay: 900ms;
    }
    
    .ninzio-slider.first-active #ninzio-layer-1421-3 {
        -webkit-transition-delay: 600ms;
        transition-delay: 600ms;
    }
    
    .active #ninzio-layer-1421-4 {
        z-index: 1;
        -webkit-transition-duration: 300ms;
        -webkit-transition-delay: 1200ms;
        transition-duration: 300ms;
        transition-delay: 1200ms;
    }
    
    .ninzio-slider.first-active #ninzio-layer-1421-4 {
        -webkit-transition-delay: 900ms;
        transition-delay: 900ms;
    }
    
    @media only screen and (min-width: 320px) {
        #ninzio-slider {
            height: 143px;
        }
        #ninzio-layer-1396-1 {
            left: 183px !important;
        }
        .active #ninzio-layer-1396-1,
        #ninzio-layer-1396-1.none {
            top: -5px !important;
            left: 183px !important;
        }
        #ninzio-layer-1396-2 {
            left: 20px !important;
        }
        .active #ninzio-layer-1396-2,
        #ninzio-layer-1396-2.none {
            top: 33px !important;
            left: 20px !important;
        }
        #ninzio-layer-1396-3 {
            left: 20px !important;
        }
        .active #ninzio-layer-1396-3,
        #ninzio-layer-1396-3.none {
            top: 68px !important;
            left: 20px !important;
        }
        #ninzio-layer-1396-4 {
            left: 20px !important;
        }
        .active #ninzio-layer-1396-4,
        #ninzio-layer-1396-4.none {
            top: 93px !important;
            left: 20px !important;
        }
        #ninzio-layer-1396-5 {
            left: 71px !important;
        }
        .active #ninzio-layer-1396-5,
        #ninzio-layer-1396-5.none {
            top: 93px !important;
            left: 71px !important;
        }
        #ninzio-layer-1327-1 {
            left: 0px !important;
        }
        .active #ninzio-layer-1327-1,
        #ninzio-layer-1327-1.none {
            top: 13px !important;
            left: 0px !important;
        }
        #ninzio-layer-1327-2 {
            left: 168px !important;
        }
        .active #ninzio-layer-1327-2,
        #ninzio-layer-1327-2.none {
            top: 33px !important;
            left: 168px !important;
        }
        #ninzio-layer-1327-3 {
            left: 163px !important;
        }
        .active #ninzio-layer-1327-3,
        #ninzio-layer-1327-3.none {
            top: 68px !important;
            left: 163px !important;
        }
        #ninzio-layer-1327-4 {
            left: 168px !important;
        }
        .active #ninzio-layer-1327-4,
        #ninzio-layer-1327-4.none {
            top: 98px !important;
            left: 168px !important;
        }
        #ninzio-layer-1327-5 {
            left: 219px !important;
        }
        .active #ninzio-layer-1327-5,
        #ninzio-layer-1327-5.none {
            top: 98px !important;
            left: 219px !important;
        }
        #ninzio-layer-1421-1 {
            left: 131px !important;
        }
        .active #ninzio-layer-1421-1,
        #ninzio-layer-1421-1.none {
            top: 19px !important;
            left: 131px !important;
        }
        #ninzio-layer-1421-2 {
            left: 58px !important;
        }
        .active #ninzio-layer-1421-2,
        #ninzio-layer-1421-2.none {
            top: 55px !important;
            left: 58px !important;
        }
        #ninzio-layer-1421-3 {
            left: 71px !important;
        }
        .active #ninzio-layer-1421-3,
        #ninzio-layer-1421-3.none {
            top: 73px !important;
            left: 71px !important;
        }
        #ninzio-layer-1421-4 {
            left: 123px !important;
        }
        .active #ninzio-layer-1421-4,
        #ninzio-layer-1421-4.none {
            top: 98px !important;
            left: 123px !important;
        }
        #ninzio-slider .ninzio-layer {
            -webkit-transform: scale(0.25, 0.25);
            -ms-transform: scale(0.25, 0.25);
            transform: scale(0.25, 0.25);
        }
    }
    
    @media only screen and (min-width: 480px) {
        #ninzio-slider {
            height: 217px;
        }
        #ninzio-layer-1396-1 {
            left: 277px !important;
        }
        .active #ninzio-layer-1396-1,
        #ninzio-layer-1396-1.none {
            top: -8px !important;
            left: 277px !important;
        }
        #ninzio-layer-1396-2 {
            left: 30px !important;
        }
        .active #ninzio-layer-1396-2,
        #ninzio-layer-1396-2.none {
            top: 49px !important;
            left: 30px !important;
        }
        #ninzio-layer-1396-3 {
            left: 30px !important;
        }
        .active #ninzio-layer-1396-3,
        #ninzio-layer-1396-3.none {
            top: 103px !important;
            left: 30px !important;
        }
        #ninzio-layer-1396-4 {
            left: 30px !important;
        }
        .active #ninzio-layer-1396-4,
        #ninzio-layer-1396-4.none {
            top: 141px !important;
            left: 30px !important;
        }
        #ninzio-layer-1396-5 {
            left: 108px !important;
        }
        .active #ninzio-layer-1396-5,
        #ninzio-layer-1396-5.none {
            top: 141px !important;
            left: 108px !important;
        }
        #ninzio-layer-1327-1 {
            left: 0px !important;
        }
        .active #ninzio-layer-1327-1,
        #ninzio-layer-1327-1.none {
            top: 19px !important;
            left: 0px !important;
        }
        #ninzio-layer-1327-2 {
            left: 255px !important;
        }
        .active #ninzio-layer-1327-2,
        #ninzio-layer-1327-2.none {
            top: 49px !important;
            left: 255px !important;
        }
        #ninzio-layer-1327-3 {
            left: 247px !important;
        }
        .active #ninzio-layer-1327-3,
        #ninzio-layer-1327-3.none {
            top: 103px !important;
            left: 247px !important;
        }
        #ninzio-layer-1327-4 {
            left: 255px !important;
        }
        .active #ninzio-layer-1327-4,
        #ninzio-layer-1327-4.none {
            top: 148px !important;
            left: 255px !important;
        }
        #ninzio-layer-1327-5 {
            left: 333px !important;
        }
        .active #ninzio-layer-1327-5,
        #ninzio-layer-1327-5.none {
            top: 148px !important;
            left: 333px !important;
        }
        #ninzio-layer-1421-1 {
            left: 200px !important;
        }
        .active #ninzio-layer-1421-1,
        #ninzio-layer-1421-1.none {
            top: 29px !important;
            left: 200px !important;
        }
        #ninzio-layer-1421-2 {
            left: 87px !important;
        }
        .active #ninzio-layer-1421-2,
        #ninzio-layer-1421-2.none {
            top: 84px !important;
            left: 87px !important;
        }
        #ninzio-layer-1421-3 {
            left: 108px !important;
        }
        .active #ninzio-layer-1421-3,
        #ninzio-layer-1421-3.none {
            top: 110px !important;
            left: 108px !important;
        }
        #ninzio-layer-1421-4 {
            left: 186px !important;
        }
        .active #ninzio-layer-1421-4,
        #ninzio-layer-1421-4.none {
            top: 148px !important;
            left: 186px !important;
        }
        #ninzio-slider .ninzio-layer {
            -webkit-transform: scale(0.38, 0.38);
            -ms-transform: scale(0.38, 0.38);
            transform: scale(0.38, 0.38);
        }
    }
    
    @media only screen and (max-width: 767px) {}
    
    @media only screen and (min-width: 768px) {
        #ninzio-slider {
            height: 353px;
        }
        #ninzio-layer-1396-1 {
            left: 453px !important;
        }
        .active #ninzio-layer-1396-1,
        #ninzio-layer-1396-1.none {
            top: -12px !important;
            left: 453px !important;
        }
        #ninzio-layer-1396-2 {
            left: 50px !important;
        }
        .active #ninzio-layer-1396-2,
        #ninzio-layer-1396-2.none {
            top: 81px !important;
            left: 50px !important;
        }
        #ninzio-layer-1396-3 {
            left: 50px !important;
        }
        .active #ninzio-layer-1396-3,
        #ninzio-layer-1396-3.none {
            top: 167px !important;
            left: 50px !important;
        }
        #ninzio-layer-1396-4 {
            left: 50px !important;
        }
        .active #ninzio-layer-1396-4,
        #ninzio-layer-1396-4.none {
            top: 229px !important;
            left: 50px !important;
        }
        #ninzio-layer-1396-5 {
            left: 177px !important;
        }
        .active #ninzio-layer-1396-5,
        #ninzio-layer-1396-5.none {
            top: 229px !important;
            left: 177px !important;
        }
        #ninzio-layer-1327-1 {
            left: 0px !important;
        }
        .active #ninzio-layer-1327-1,
        #ninzio-layer-1327-1.none {
            top: 31px !important;
            left: 0px !important;
        }
        #ninzio-layer-1327-2 {
            left: 415px !important;
        }
        .active #ninzio-layer-1327-2,
        #ninzio-layer-1327-2.none {
            top: 81px !important;
            left: 415px !important;
        }
        #ninzio-layer-1327-3 {
            left: 403px !important;
        }
        .active #ninzio-layer-1327-3,
        #ninzio-layer-1327-3.none {
            top: 167px !important;
            left: 403px !important;
        }
        #ninzio-layer-1327-4 {
            left: 415px !important;
        }
        .active #ninzio-layer-1327-4,
        #ninzio-layer-1327-4.none {
            top: 242px !important;
            left: 415px !important;
        }
        #ninzio-layer-1327-5 {
            left: 543px !important;
        }
        .active #ninzio-layer-1327-5,
        #ninzio-layer-1327-5.none {
            top: 242px !important;
            left: 543px !important;
        }
        #ninzio-layer-1421-1 {
            left: 326px !important;
        }
        .active #ninzio-layer-1421-1,
        #ninzio-layer-1421-1.none {
            top: 47px !important;
            left: 326px !important;
        }
        #ninzio-layer-1421-2 {
            left: 143px !important;
        }
        .active #ninzio-layer-1421-2,
        #ninzio-layer-1421-2.none {
            top: 136px !important;
            left: 143px !important;
        }
        #ninzio-layer-1421-3 {
            left: 177px !important;
        }
        .active #ninzio-layer-1421-3,
        #ninzio-layer-1421-3.none {
            top: 180px !important;
            left: 177px !important;
        }
        #ninzio-layer-1421-4 {
            left: 304px !important;
        }
        .active #ninzio-layer-1421-4,
        #ninzio-layer-1421-4.none {
            top: 242px !important;
            left: 304px !important;
        }
        #ninzio-slider .ninzio-layer {
            -webkit-transform: scale(0.62, 0.62);
            -ms-transform: scale(0.62, 0.62);
            transform: scale(0.62, 0.62);
        }
    }
    
    @media only screen and (min-width: 1024px) {
        #ninzio-slider {
            height: 467px;
        }
        #ninzio-layer-1396-1 {
            left: 599px !important;
        }
        .active #ninzio-layer-1396-1,
        #ninzio-layer-1396-1.none {
            top: -16px !important;
            left: 599px !important;
        }
        #ninzio-layer-1396-2 {
            left: 66px !important;
        }
        .active #ninzio-layer-1396-2,
        #ninzio-layer-1396-2.none {
            top: 107px !important;
            left: 66px !important;
        }
        #ninzio-layer-1396-3 {
            left: 66px !important;
        }
        .active #ninzio-layer-1396-3,
        #ninzio-layer-1396-3.none {
            top: 221px !important;
            left: 66px !important;
        }
        #ninzio-layer-1396-4 {
            left: 66px !important;
        }
        .active #ninzio-layer-1396-4,
        #ninzio-layer-1396-4.none {
            top: 303px !important;
            left: 66px !important;
        }
        #ninzio-layer-1396-5 {
            left: 234px !important;
        }
        .active #ninzio-layer-1396-5,
        #ninzio-layer-1396-5.none {
            top: 303px !important;
            left: 234px !important;
        }
        #ninzio-layer-1327-1 {
            left: 0px !important;
        }
        .active #ninzio-layer-1327-1,
        #ninzio-layer-1327-1.none {
            top: 41px !important;
            left: 0px !important;
        }
        #ninzio-layer-1327-2 {
            left: 549px !important;
        }
        .active #ninzio-layer-1327-2,
        #ninzio-layer-1327-2.none {
            top: 107px !important;
            left: 549px !important;
        }
        #ninzio-layer-1327-3 {
            left: 533px !important;
        }
        .active #ninzio-layer-1327-3,
        #ninzio-layer-1327-3.none {
            top: 221px !important;
            left: 533px !important;
        }
        #ninzio-layer-1327-4 {
            left: 549px !important;
        }
        .active #ninzio-layer-1327-4,
        #ninzio-layer-1327-4.none {
            top: 320px !important;
            left: 549px !important;
        }
        #ninzio-layer-1327-5 {
            left: 718px !important;
        }
        .active #ninzio-layer-1327-5,
        #ninzio-layer-1327-5.none {
            top: 320px !important;
            left: 718px !important;
        }
        #ninzio-layer-1421-1 {
            left: 431px !important;
        }
        .active #ninzio-layer-1421-1,
        #ninzio-layer-1421-1.none {
            top: 62px !important;
            left: 431px !important;
        }
        #ninzio-layer-1421-2 {
            left: 189px !important;
        }
        .active #ninzio-layer-1421-2,
        #ninzio-layer-1421-2.none {
            top: 180px !important;
            left: 189px !important;
        }
        #ninzio-layer-1421-3 {
            left: 234px !important;
        }
        .active #ninzio-layer-1421-3,
        #ninzio-layer-1421-3.none {
            top: 238px !important;
            left: 234px !important;
        }
        #ninzio-layer-1421-4 {
            left: 402px !important;
        }
        .active #ninzio-layer-1421-4,
        #ninzio-layer-1421-4.none {
            top: 320px !important;
            left: 402px !important;
        }
        #ninzio-slider .ninzio-layer {
            -webkit-transform: scale(0.82, 0.82);
            -ms-transform: scale(0.82, 0.82);
            transform: scale(0.82, 0.82);
        }
    }
    
    @media only screen and (min-width: 1025px) {
        #ninzio-slider {
            height: 570px;
        }
        #ninzio-layer-1396-1 {
            left: 730px !important;
        }
        .active #ninzio-layer-1396-1,
        #ninzio-layer-1396-1.none {
            top: -20px !important;
            left: 730px !important;
        }
        #ninzio-layer-1396-2 {
            left: 80px !important;
        }
        .active #ninzio-layer-1396-2,
        #ninzio-layer-1396-2.none {
            top: 130px !important;
            left: 80px !important;
        }
        #ninzio-layer-1396-3 {
            left: 80px !important;
        }
        .active #ninzio-layer-1396-3,
        #ninzio-layer-1396-3.none {
            top: 270px !important;
            left: 80px !important;
        }
        #ninzio-layer-1396-4 {
            left: 80px !important;
        }
        .active #ninzio-layer-1396-4,
        #ninzio-layer-1396-4.none {
            top: 370px !important;
            left: 80px !important;
        }
        #ninzio-layer-1396-5 {
            left: 285px !important;
        }
        .active #ninzio-layer-1396-5,
        #ninzio-layer-1396-5.none {
            top: 370px !important;
            left: 285px !important;
        }
        #ninzio-layer-1327-1 {
            left: 0px !important;
        }
        .active #ninzio-layer-1327-1,
        #ninzio-layer-1327-1.none {
            top: 50px !important;
            left: 0px !important;
        }
        #ninzio-layer-1327-2 {
            left: 670px !important;
        }
        .active #ninzio-layer-1327-2,
        #ninzio-layer-1327-2.none {
            top: 130px !important;
            left: 670px !important;
        }
        #ninzio-layer-1327-3 {
            left: 650px !important;
        }
        .active #ninzio-layer-1327-3,
        #ninzio-layer-1327-3.none {
            top: 270px !important;
            left: 650px !important;
        }
        #ninzio-layer-1327-4 {
            left: 670px !important;
        }
        .active #ninzio-layer-1327-4,
        #ninzio-layer-1327-4.none {
            top: 390px !important;
            left: 670px !important;
        }
        #ninzio-layer-1327-5 {
            left: 875px !important;
        }
        .active #ninzio-layer-1327-5,
        #ninzio-layer-1327-5.none {
            top: 390px !important;
            left: 875px !important;
        }
        #ninzio-layer-1421-1 {
            left: 525px !important;
        }
        .active #ninzio-layer-1421-1,
        #ninzio-layer-1421-1.none {
            top: 75px !important;
            left: 525px !important;
        }
        #ninzio-layer-1421-2 {
            left: 230px !important;
        }
        .active #ninzio-layer-1421-2,
        #ninzio-layer-1421-2.none {
            top: 220px !important;
            left: 230px !important;
        }
        #ninzio-layer-1421-3 {
            left: 285px !important;
        }
        .active #ninzio-layer-1421-3,
        #ninzio-layer-1421-3.none {
            top: 290px !important;
            left: 285px !important;
        }
        #ninzio-layer-1421-4 {
            left: 490px !important;
        }
        .active #ninzio-layer-1421-4,
        #ninzio-layer-1421-4.none {
            top: 390px !important;
            left: 490px !important;
        }
        #ninzio-slider .ninzio-layer {
            -webkit-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            transform: scale(1, 1);
        }
    }

